<div class="card-container">
    <div class="header">
        <div class="question-category">
            <div class="title">Question</div>
            <select name="category" id="category" class="category-select" [(ngModel)]="defaultCategory" (ngModelChange)="filterCategory($event)">
                <option *ngFor="let cat of categoryd" [value]="cat.id"> {{cat.name}}</option>
            </select>
        </div>
        <button class="card-next-button" (click)="addNewQuestion()">Next Question</button>
    </div>
    <div class="card-question">{{question}}</div>
    <input class="card-input" type="text" [(ngModel)]="addedAnswer"  placeholder="Write you answer">
    <div class="card-action-field">
        <button class="card-button show" (click)="toggleShow()">{{showTitle}}</button>
        <button class="card-button add" (click)="addAnswer(addedAnswer)">Add Answer</button>
    </div>
</div>
<div class="answer-container" *ngIf="show">
    <app-answer-card [correctAnswer]="correctAnswer" [userAnswer]="userAnswer" [result] ="result"></app-answer-card>
</div>